@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');

* {
  font-family: "Liter", sans-serif !important;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cabinet-schema {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #f0f0f0;
  overflow: auto;
}

/* TEST */
.react-flow__viewport {
  width: 1000px !important;
  height: 800px !important;
  /* border: 2px dashed #ccc; */
  background: white;
  transform-origin: 0 0 !important;
}

.react-flow__nodes {
  transform-box: fill-box;
  /* transform-origin: center center; */
}

.react-flow__edges {
  pointer-events: none;
}
/* /TEST */

.node {
  position: absolute;
  transform-origin: center center;
  /* transition: 
    transform 0.2s ease,
    width 0.2s ease,
    height 0.2s ease; */
  border: 2px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.node-label {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  user-select: none;
  pointer-events: none;
}

.bold {
  font-weight: 900;
}

.window-lines {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}

.window-line {
  border-top: 2px solid #666;
  width: 100%;
}

.socket-circle {
  width: 70%;
  height: 70%;
  border: 2px solid #333;
  border-radius: 50%;
}

.door-node {
  position: relative;
  border-left: 3px solid #455a64;
  border-right: 3px solid #455a64;
  border-top: none;
  border-radius: 0px !important;
  border-bottom: none;
}

.door-line,
.door-node::after {
  display: none;
}

.student-chair-node,
.teacher-chair-node {
  border: 2px solid #333;
  border-radius: 4px;
}

.teacher-desk-node {
  border: 2px solid;
  border-radius: 4px;
}